<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MySite</title>
    <link href="~/css/StyleSheet.css" rel="stylesheet" />
</head>
<body>
    <h1>Task: Upload file to cloud</h1>
    <p>using ASP.NET and Dropbox</p>
    <div>
        @RenderBody()
    </div>
</body>
</html>
