@page
@model UploadFilesToBB05022023.Pages.IndexModel 
@{
    Layout = "_Layout";
}
<p>Upload File</p>
<form class="flexwrap" 
      method="post" 
      enctype="multipart/form-data" >
    <input type="file"  name="file"  /> @*the name is the same name as the parameter in the function!*@
    <button type="submit">Upload</button>
</form>