@page
@model UploadFilesToBB05022023.Pages.SuccessModel
@{
    Layout = "_Layout";
}
<p>File was uploaded: 
    <a href="https://www.dropbox.com/home/Apps/UploadFilesToBB05022023/UploadedFiles">Check on DB</a></p>
<p><a href="Index">back</a></p>